<?xml version="1.0"?>

<config>
    <sections>
        <customer>
            <groups>
                <customerredirect>
                    <label>Redirect Customer Group After Login</label>
                    <sort_order>91</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <group_redirect translate="label">
                            <label>Redirects</label>
                            <comment>Menu items will be shown below the "Page" section in the mobile off-canvas menu.</comment>
                            <frontend_model>reillo_customerredirect/adminhtml_system_config_form_field_array_redirectitem</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>45</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </group_redirect>
                    </fields>
                </customerredirect>
            </groups>
        </customer>
    </sections>
</config>